<style type="text/css">
    .bio {
        background-color: #fff;
        position: relative;
        overflow: hidden;
    }

    .bio .read-more { 
        position: absolute; 
        bottom: 0; 
        left: 0;
        width: 100%; 
        text-align: center; 
        margin: 0; padding: 30px 0;
    }
</style>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    let btn = document.querySelectorAll('.bio .read-more')[0];
    btn.classList.add('hide');
});
</script>
<div class="container mb-5 bio bio-contract pb-3 pt-3 ps-3 pe-3 rounded">
    <h2 class="text-center fst-italic">A lifetime of curiosity</h2>
    <p class="lead pb-3 pt-3 ps-3 pe-3">
        Born in 1946 to Floyd and Erlynn Kisler, from an early age Doyle possessed a great excitement for technology and science. His passions were often wrapped up in photography, radio, and human flight.
    </p>
    <p class="lead pb-3 ps-3 pe-3">
        In his youth, he worked selling cameras at a department store, which began a lifelong passion for photography, going so far as to make an espionage movie with his friends using his Super 8mm camera.
    </p>
    <p class="read-more show"><span class="btn btn-light">Read More</span></p>
    <p class="lead pb-3 ps-3 pe-3">
        In the United States Navy, his skills flourished repairing electronic systems for anti-submarine warfare aircraft, about the aircraft carriers USS Bennington, USS Hornet, and USS Ticonderoga.
    <p class="lead pb-3 ps-3 pe-3">
        Marrying Carol Kisler in 1971, Doyle and Carol shared their lives for over fifty years.  They raised five children, flew the coast in a plane from his squadron's club, played softball, traveled the country to see relatives, museums, and landmarks, and enjoyed dining together by the ocean.
    </p>
    <p class="lead pb-3 ps-3 pe-3">
        As a father, Doyle treasured watching his children explore the world. He enjoyed taking them to air shows, aviation museums, and on cross-country trips to visit his sister’s families and his parents in Texas. Later, he sought to do the same with his grandchildren, being an active part of their lives up through his final days.
    </p>
    <p class="lead pb-3 ps-3 pe-3">
        He departed on August 21, 2021, and is survived by his wife, five children, and six grandchildren.
    </p>
    <p class="lead mb-0 pb-0 ps-3 pe-3">
        His last wishes were to spend a day out at the beach with his family, talking and joking and watching the grandchildren play. Later, he wanted to walk up the stairs to his HAM radio set at 3PM, pick up the handset and say into the ether
    </p>
    <p class="lead pb-3 ps-3 pe-5 text-end">
        “This is Doyle. Is anyone out there?”
    </p>
</div>
