<style type="text/css">
    .header-image {
        max-height: 400px;
        max-width: 100%;
    }

    nav .nav-item {
        color: #000;
        background-color: #ddd;
        font-size: 1.5em;
    }

    nav .nav-item:hover {
        color: #fff;
        background-color: #626682;
    }
</style>
<div class="header light-bg mb-4 mt-4 pb-3 pt-3 ms-0 me-0 w-100">
    <h2 class="display-6 text-center">Memorial For</h2>
    <h1 class="display-4 text-center">Doyle F. Kisler</h1>
    <div class="container text-center">
        <img class="header-image m-3" src="assets/images/small/img004_2_2.jpg">
        <img class="header-image m-3" src="assets/images/small/DSC5320_cr_bw.jpg">
    </div>
    <h2 class="text-center">July 11, 1946 - August 21, 2021</h2>
</div>
<div class="container mb-4 mt-3">
    <nav class="mt-4 nav justify-content-center">
        <a class="nav-item nav-link rounded" href="./funeral.html">View video of funeral service held on September 2<sup>nd</sup>, 2021</a>
    </nav>
</div>
