---
layout: expandedDefault
---
{% include_relative _layouts/bio.html %}

<div class="container light mb-5">
    <h4 class="text-center">More content coming soon</h4>
    <h4 class="text-center">Have photos or memories to share?  Please email me at: ikisler ~at~ csumb dot edu</h4>
</div>

<div class="modal fade" id="eventDetails" tabindex="-1" aria-labelledby="eventDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventDetailsLabel">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var exampleModal = document.getElementById('eventDetails')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        let postUrl = button.getAttribute('data-bs-url')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.

        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body')

        var request = new XMLHttpRequest();
        request.open('GET', postUrl, true);

        request.onload = function() {
          if (this.status >= 200 && this.status < 400) {
            // Success!
            var data = JSON.parse(this.response);
            console.log(data);
            modalTitle.textContent = data.title;
            if (data.image) {
                modalBodyInput.innerHTML = 
                    `<img class="img-fluid" src="${ data.image }">
                    <p>${ data.description }</p>`;
            } else {
                modalBodyInput.innerHTML = 
                    `${ data.description }`;
            }
          } else {
            // We reached our target server, but it returned an error
            modalBodyInput.innerHTML = 'Could not load information, please try again';
          }
        };

        request.onerror = function() {
          // There was a connection error of some sort
        };

        request.send();
    });
});
</script>
