<style type="text/css">
	.header-image {
		max-height: 400px;
		max-width: 100%;
	}

    nav .nav-item {
        color: #000;
        background-color: #ddd;
        font-size: 1.5em;
    }

    nav .nav-item:hover {
        color: #fff;
        background-color: #626682;
    }
</style>
<div class="light container mb-5 mt-4">
    <h1 class="display-4 text-center">Doyle F. Kisler Memorial</h1>
    <h2 class="text-center">July 11, 1946 - August 21, 2021</h2>
    <nav class="mt-4 nav justify-content-center">
        <a class="nav-item nav-link rounded" href="./funeral.html">Recording of Funeral</a>
    </nav>
</div>
